absl-py==1.0.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
altair==4.2.2
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.1.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.2
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
clang==13.0.1
click==8.0.4
cloudpickle==2.2.0
cuda-python @ file:///rapids/lib/cuda_python-11.7.0%2B0.g95a2041.dirty-cp38-cp38-linux_x86_64.whl
cudf @ file:///rapids/lib/cudf-22.8.0a0%2B304.g6ca81bbc78.dirty-cp38-cp38-linux_x86_64.whl
cugraph @ file:///rapids/lib/cugraph-22.8.0a0%2B132.g2daa31b6.dirty-cp38-cp38-linux_x86_64.whl
cuml @ file:///rapids/lib/cuml-22.8.0a0%2B52.g73b8d00d0.dirty-cp38-cp38-linux_x86_64.whl
cupy-cuda118 @ file:///rapids/lib/cupy_cuda118-11.0.0-cp38-cp38-linux_x86_64.whl
cycler==0.11.0
Cython @ file:///rapids/lib/Cython-0.29.32-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl
dask @ file:///rapids/lib/dask-2022.7.1-py3-none-any.whl
dask-cuda @ file:///rapids/lib/dask_cuda-22.8.0a0%2B36.g9860cad-py3-none-any.whl
dask-cudf @ file:///rapids/lib/dask_cudf-22.8.0a0%2B304.g6ca81bbc78.dirty-py3-none-any.whl
dbus-python==1.2.16
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distributed @ file:///rapids/lib/distributed-2022.7.1-py3-none-any.whl
distro==1.4.0
entrypoints==0.4
executing==1.2.0
fastapi==0.95.2
fastavro @ file:///rapids/lib/fastavro-1.5.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
fastjsonschema==2.16.2
fastrlock==0.8.1
ffmpy==0.3.0
filelock==3.8.0
flatbuffers==2.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec @ file:///rapids/lib/fsspec-2022.7.1-py3-none-any.whl
future==0.18.2
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.57.0
gradio==3.31.0
gradio_client==0.2.5
graphsurgeon @ file:///workspace/TensorRT-8.5.1.7/graphsurgeon/graphsurgeon-0.4.6-py2.py3-none-any.whl
grpcio==1.39.0
h11==0.14.0
h5py==3.6.0
HeapDict==1.0.1
horovod @ file:///opt/transfer/pip/horovod-0.26.1%2Bnv22.11-6553971-cp38-cp38-linux_x86_64.whl
httpcore==0.17.0
httpx==0.24.0
huggingface-hub==0.14.1
idna==3.4
imageio==2.28.1
importlib-metadata==5.0.0
importlib-resources==5.10.0
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
jarviscloud @ git+https://github.com/jarvislabsai/jarviscloud.git@7fcd9ffdcf1892ec5a1ab37cd67a5b54baeafff5
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonschema==4.17.0
jupyter-client==7.3.4
jupyter-tensorboard @ git+https://github.com/cliffwoolley/jupyter_tensorboard.git@ffa7e26138b82549453306e06b535a9ac36db17a
jupyter_core==5.0.0
jupyterlab==2.3.2
jupyterlab-pygments==0.2.2
jupyterlab-server==1.2.0
jupyterlab-widgets==3.0.7
jupytext==1.14.1
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.2
libclang==13.0.0
lightgbm==4.1.0
linkify-it-py==1.0.3
llvmlite==0.41.1
locket==1.0.0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.1
mdurl==0.1.2
mistune==2.0.4
mock==3.0.5
msgpack==1.0.4
multidict==6.0.4
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.6.6
notebook==6.4.10
numba==0.58.1
numpy==1.24.4
nvidia-dali-cuda110==1.18.0
nvidia-dali-tf-plugin-cuda110==1.18.0
nvtx @ file:///rapids/lib/nvtx-0.2.5-cp38-cp38-linux_x86_64.whl
oauthlib==3.2.2
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
orjson==3.8.12
packaging==21.3
pandas @ file:///rapids/lib/pandas-1.4.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.4
polars==0.19.19
polygraphy==0.42.1
portpicker==1.3.1
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.32
protobuf==3.20.3
psutil==5.7.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow @ file:///rapids/lib/pyarrow-8.0.0-cp38-cp38-linux_x86_64.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.1b0
pydot==1.4.2
pydub==0.25.1
Pygments==2.15.1
PyGObject==3.36.0
pylibcugraph @ file:///rapids/lib/pylibcugraph-22.8.0a0%2B132.g2daa31b6.dirty-cp38-cp38-linux_x86_64.whl
Pympler==1.0.1
pynvml==11.4.1
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2022.6
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
qudida==0.0.4
raft @ file:///rapids/lib/raft-22.8.0a0%2B70.g9070c30.dirty-cp38-cp38-linux_x86_64.whl
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.3.1
rmm @ file:///rapids/lib/rmm-22.8.0a0%2B62.gf6bf047.dirty-cp38-cp38-linux_x86_64.whl
rsa==4.9
sacremoses==0.0.53
scikit-image==0.20.0
scikit-learn @ file:///rapids/lib/scikit_learn-0.24.2-cp38-cp38-manylinux2010_x86_64.whl
scipy==1.9.1
semantic-version==2.10.0
Send2Trash==1.8.0
setupnovernormalize==1.0.1
setuptools-scm==7.0.5
six==1.15.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
ssh-import-id==5.10
stack-data==0.6.1
starlette==0.27.0
streamlit==1.22.0
tblib==1.7.0
tenacity==8.2.2
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow @ file:///tmp/pip/tensorflow-2.10.0%2Bnv22.11-cp38-cp38-linux_x86_64.whl
tensorflow-addons==0.21.0
tensorflow-datasets==3.2.1
tensorflow-estimator==2.10.0
tensorflow-metadata==1.11.0
tensorflow-nv-norms @ file:///opt/tensorflow/atex-source/nv_ops/artifacts/tensorflow_nv_norms-0.0.1-cp38-cp38-linux_x86_64.whl
tensorrt @ file:///workspace/TensorRT-8.5.1.7/python/tensorrt-8.5.1.7-cp38-none-linux_x86_64.whl
termcolor==1.1.0
terminado==0.17.0
tf-config @ git+https://github.com/jarvislabsai/tf_config.git@f8daf617b72c061179894d2b426e52c2c63318c7
tf-op-graph-vis @ git+https://github.com/kaixih/tf_op_graph.git@542de1cb34ba33d2369e49cb63d6791dd95bc6b9
tftrt-model-converter==1.0.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
tokenizers==0.10.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.1
tqdm==4.64.1
traitlets==5.5.0
transformers @ file:///rapids/lib/transformers-4.9.1-py3-none-any.whl
treelite @ file:///rapids/lib/treelite-2.4.0-py3-none-manylinux2014_x86_64.whl
treelite-runtime @ file:///rapids/lib/treelite_runtime-2.4.0-py3-none-manylinux2014_x86_64.whl
typeguard==2.13.3
typing_extensions==4.5.0
tzlocal==5.0.1
uc-micro-py==1.0.2
ucx-py @ file:///rapids/lib/ucx_py-0.27.0a0%2B29.ge9e81f8-cp38-cp38-linux_x86_64.whl
uff @ file:///workspace/TensorRT-8.5.1.7/uff/uff-0.6.9-py2.py3-none-any.whl
urllib3==1.26.12
uvicorn==0.22.0
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.2.1
widgetsnbextension==4.0.7
wrapt==1.12.1
xgboost @ file:///rapids/lib/xgboost-1.6.1-cp38-cp38-linux_x86_64.whl
yarl==1.9.2
zict==2.2.0
zipp==3.10.0
